.pagination {
  display: flex;
  gap: 5px;
}

.pagination button {
  min-width: 32px;
  height: 32px;

  border: 1px solid #e2deeb;

  border-radius: 7px;

  background: white;

  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}

.pagination button.selected {
  background: #7837dd;
  border-color: #7837dd;
  color: white;
}